@{
    ViewData["Title"] = "Radicitus Home";
}
@using System.Net
@using System.Web
@using Microsoft.AspNetCore.Html
@model List<Radicitus.Entities.NewsFeed>
<div class="container">
    <div class="text-center col-4 offset-3">
        <img src="images/Logo_Radicitus_Black.png" />
    </div>
    <div>
        <ul class="hex-grid">
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="@Url.Action("EventCalendar", "Home")">
                        <img src="images/calendar-icon.png" alt="" />
                        <h1>Calendar</h1>
                    </a>
                </div>
            </li>
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="@Url.Action("RaidEfforts", "Home")">
                        <img src="images/Logo_Radicitus_White.png" alt="" />
                        <h1>50/50</h1>
                    </a>
                </div>
            </li>
            <li class="hex bg-dark">
                <div class="hexIn bg-dark">
                    <a class="hexLink bg-dark" href="">
                        <img src="images/if_WoW_36832.png" alt="" />
                        <h1>Coming Soon</h1>
                    </a>
                </div>
            </li>
            <li class="hex bg-dark">
                <div class="hexIn bg-dark">
                    <a class="hexLink bg-dark" href="https://twitch.tv">
                        @*<img src="images/GlitchIcon_Purple_256px.png" alt="" />*@
                        <h1>Coming Soon</h1>
                    </a>
                </div>
            </li>
            <li class="hex bg-dark">
                <div class="hexIn bg-dark">
                    <a class="hexLink bg-dark" href="">
                        @*<img class="bg-light" src="images/if_WoW_36832.png" alt="" />*@
                        <h1>Coming Soon</h1>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-12">
        <h1>
            Radicitus News Feed
        </h1>
        <hr />
        @if (Model.Count < 1)
        {
            <h2>There are no news items yet! Check back later for more!</h2>
        }
        else
        {
            <div class="scrollable">
                @foreach (var newsItem in Model)
                {
                    var htmlString = WebUtility.HtmlDecode(newsItem.Content).Replace("\r\n", "");

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                Added on @newsItem.DateCreated.ToShortDateString() @@ @newsItem.DateCreated.ToShortTimeString()
                            </div>
                            <div class="card-body">
                                @Html.Raw(htmlString)
                            </div>
                        </div>
                    </div>
                    <hr/>
                }
            </div>
        }

    </div>
</div>
