@model ViewGridModel
<div class="container mt-3">
    <input type="hidden" id="hiddenGridId" value="@Model.Grid.GridId"/>
    <h2>
        @Model.Grid.GridName
    </h2>
    <hr/>
    <div class="row">
        <div class="col-6">
            <div>
                <h4>
                    Cost Per Square: @Model.Grid.CostPerSquare
                </h4>
                <h4>
                    Date Created: @Model.Grid.DateCreated.ToShortDateString()
                </h4>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-info" data-toggle="modal" data-target="#addMemberModal">
                        <i class="fa fa-plus"></i>
                        Add Members
                    </button>
                    <button class="btn btn-warning" id="drawWinnerButton">
                        <i class="fa fa-user"></i>
                        Draw a Winner!
                    </button>
                }
            </div>
        </div>
        <div class="col-6">
            <h2 id="winnerArea"></h2>
        </div>
    </div>
    <div class="col-12 offset-1 grid-container">
        @for (var i = 1; i <= 100;)
        {
            <div class="row">
                @for (var j = 0; j < 10; j++, i++)
                {
                    <div class="grid-square col-1 @($"container-{i}") @(Model.MemberNumbers.ContainsKey(i) ? "bg-primary" : "")">
                        @* ReSharper disable once UnknownCssClass *@
                        @if (Model.MemberNumbers.ContainsKey(i))
                        {
                            <div class="text-container">
                                <strong class="text-white">
                                    @Model.MemberNumbers[i].RadMemberName
                                </strong>
                                @* ReSharper disable once UnknownCssClass *@
                                <div class="number text-white align-content-center">
                                    <strong>
                                        @(i)
                                    </strong>
                                </div>
                                @* ReSharper disable once UnknownCssClass *@
                            </div>
                        }
                        else
                        {
                            <div id="@($"itemContainer_{i}")" class="text-container">
                                <strong id="@($"name_{i}")">
                                    Open
                                </strong>
                                @* ReSharper disable once UnknownCssClass *@
                                <div id="@($"number_{i}")" class="number align-content-center">
                                    @(i)
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="addMemberModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog">
        @{Html.RenderPartial("AddMembersModal");}
    </div>
}
@section Scripts{
    <script src="~/js/members.js" type="text/javascript"></script>
}